<h1><%= @project.title %></h1>

<p><%= @project.description %></p>

<ul>
  <li><%= link_to "Edit", edit_project_path(@project) %></li>
    <li><%= link_to "Destroy", project_path(@project), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
  <li><%= link_to "Projects Index", root_path %></li>
</ul>

<hr />

<h2>Boards/Stages</h2>
<%= render @project.boards %>

<hr />

<h2>Add a Board:</h2>
<%= render 'boards/form'  %>

<hr />
