<!-- 
<%#= debug(@board) %>
-->

<h1><%= @board.title %></h1>

<%= @board.description %>

<ul>
  <li><%= link_to "Edit", edit_board_path(@board) %></li>
    <li><%= link_to "Destroy", board_path(@board), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
  <li><%= link_to "Projects Index", root_path %></li>
</ul>
<p>
<strong>Project</strong> : <%= link_to @board.project.title, @board.project %>
</p>
<hr />

<h2>Tasks</h2>
<% if @board.tasks != [] %>
<%= render @board.tasks %>
<% else %>
    None
<% end %>
<hr />
<!--
  To enable debugging in the view section
  <%# console %>
-->
<h2>Add Task</h2>
<%= render 'tasks/form' %>
<hr />
